:root{
    --main-color: black;
    --main-bg-color: cornsilk;
}
html{
    background-color: #95e495;

}
body{
    width: 90%;
    margin: auto;
    background-color: rgba(255,255,255,10);
}
figure{
    /*! float: right; */
    text-align: center;
    width: 30%;     /*  1@#%$!@#$%!@#%!@#$%#@$%@#$%@#$%@$#% */
    margin-left: auto;
    display: inline-block;
    margin-right: auto;
    /*! margin: 0.5em; */
    padding: 0 1.5% 0 1.5%;
    margin: auto;
}

img{
    max-width: 100%;
    border-radius: 5%;
    /*! float: left; */
}

body{

    background-color: #95e495;
    color: darkgreen;
    max-width: 50em;
    line-height: 1.3em;
    padding: 0 1% 0 1%;
    margin: 0 auto 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    body\{\ width: 90%;
    margin: auto;
    background-color: rgba(255,255,255,1);
}

html{
    /*! background-color: white; */
    height: 100%;
    margin: 0;
}

article, section, aside, nav{
    padding: 1%;
}

table{
    clear: both;
}

form{
    max-width: 400px;
    border: medium solid goldenrod;
    background-color: black;
    color: goldenrod;
    padding: 1%;
    margin: auto;
}

.contact label{
    font-size: xx-small; 
}
fieldset{
    border: none;
}

fieldset p{
    margin-bottom: 1em;
}

legend {
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1;
}

label + input, label + textarea{
    display: block;
}

input[type=text]{
    border: 0;
    background-color: black;
    border-bottom: medium solid goldenrod;
    width: 100%;
    height: 2em;
    color: goldenrod;
    font-size: large;
}

select{
  font-size: large;
}

textarea{
    width: 100%;
    height: 5em;
}

.buttons{
    text-align: center
}

input[type=submit]{
    width: 80%;
    text-align: center;
    font-size: 2em;
    background-color: goldenrod;
    color: cornsilk;
    border-color: cornsilk;
    border-radius: .25em
}

/* grid setup */
body{
    display: grid;
    grid-template-areas: "nav" "header" "main" "footer";
    width: fit-content;
}

header{
    grid-area: header;
}
nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    max-width: 100%;
    border-radius: 1em;
    /*! background-color: white; */
    /*! text-align: center; */
}

nav a{
    display: inline-block;
    padding: 0 23% 0 0;
    color: darkgreen;
    text-decoration: none;
    font-weight: bold;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    padding-top: 3%;
}
/* TEXT */
h1{
    font-size: 3.5em;
}
h1,h2,h3,body{
    
    padding-left: 1.5%;
}
#adminBtn{
    padding: 0 0 0 0;
}